html, body{
    box-sizing: border-box;
    background-image: url(img/background\ HSH.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.logo img{
    height: 160px;
}

/*****************NAV BAR*****************/

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: rgb(196, 10, 10);
    text-shadow: 1px 1px 3px black;
}
.slogan{
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    padding-left: 130px;
}

.nav-link{
    color:black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-shadow: 1px 1px 3px rgb(177, 177, 177);
}
.nav-link:visited{
    color: black;
}

.nav-link:hover{
    transform: scale(1.3);
    cursor: pointer;
    color: rgb(196, 10, 10);
}
.dropdown-menu{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
i{
    color: rgb(196, 10, 10);
}
.dropdown-item:hover{
    background-color: rgb(196, 10, 10);
}

/**************SECTION 1*******************/

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    text-shadow: 1px 1px 3px black;
    color: rgb(196, 10, 10);
}
#ville-prix{
    margin-top: -20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.ville{
    font-size: 20px;
}
.prix{
    font-weight: bold;
}
.col-2{
    box-shadow: 2px 2px 5px black;
}
.col-2:hover{
    transform: scale(1.1);
}