html, body{
    box-sizing: border-box;
    background-image: url(img/HSH\ background.png);
    background-position: top;
    background-repeat: no-repeat;
}

/*****************GENERAL*****************/
h1{
    font-size: 70px;
    color: rgb(196, 10, 10);
    text-shadow: 1px 1px 3px black;
}
i{
    color: rgb(196, 10, 10);
}
h2{
    font-size: 35px;
    text-shadow: 1px 1px 3px black;
    color: rgb(196, 10, 10);
    padding-top: 40px;
}

/*****************NAV BAR*****************/

.slogan{
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    padding-left: 130px;
}

.nav-link{
    font-size: 20px;
    text-shadow: 1px 1px rgb(177, 177, 177);
    color: dimgrey;
}
.nav-link:hover{
    transform: scale(1.3);
    cursor: pointer;
    color: rgb(196, 10, 10);
}

.dropdown-item:hover{
    background-color: rgb(196, 10, 10);
    color: whitesmoke;
}

/**************SECTION 1*******************/

#ville-prix{
    margin-top: -20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.ville{
    font-size: 20px;
}
.prix{
    font-weight: bold;
}
.col-lg-2, .col-sm-9{
    box-shadow: 2px 2px 5px black;
    border-radius: 5px 40px 0 0;
}
strong{
    color: rgb(196, 10, 10);
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}
.description{
    font-family: Impact,  Arial Narrow Bold, sans-serif;
}

/**************SECTION 2*******************/
#section2 img{
    border: 2px solid rgb(196, 10, 10);
    margin: 2px;
}

/**************SECTION 4*******************/
#section-3{
    margin-top: 100px;
}


/**************SECTION 4*******************/
#section-4{
    margin-top: 100px;
    background-image: url(img/newsletter.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 310px;

}
.newsletter{
    margin-left: 450px;
    margin-top: 70px;
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 22px;
}
input, .btn-valider{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
footer{
    background-image: url(img/footer.png);
    background-position: top;
    background-repeat: no-repeat;
}
li{
    color: white;
    font-size: 16px;
    list-style-type: none;
    font-weight: bold;
}
footer img{
    width: 200px;
}
.fa-users{
    padding-right: 10px;
}
.fa-location-dot{
    padding-right: 20px;
}
.fa-address-book{
    padding-right: 14px;
}
footer a{
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 3px black;
}